<!DOCTYPE html>
<html lang="en">

    
    
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Laxma_WebResume</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Laxma_WebResume.styles.css" asp-append-version="true" />
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        header {
            text-align: center;
            background-color: #3498db;
            color: #fff;
            padding: 20px;
        }

        figure {
            margin: 0;
        }

        h1 {
            margin: 0;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 30px;
        }

        nav a {
            text-decoration: none;
            color: #3498db;
            font-weight: bold;
        }

        blockquote {
            font-style: italic;
        }

        p {
            margin: 0;
        }

        aside {
            width: 30%;
            padding-left: 15px;
            margin-left: 15px;
            float: right;
            font-style: italic;
            background-color: lightgray;
        }

        footer {
            text-align: center;
            background-color: #3498db;
            color: #fff;
            padding: 10px;
        }
    </style>
</head>
<body>
    
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LaxmaReddy Kandula's Web Resume</a>
                <img src="~/Images/Profile.jpg" alt="Profile Photo" width="100" height="100">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container" style="height:400px;overflow:auto;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container d-flex justify-content-center align-items-center flex-row">
            <p>Author: Laxma Reddy Kandula</p>
            <p><a href="mailto:laxma.kandula@siu.edu">laxma.kandula@siu.edu</a></p>
            &copy; 2023 - Laxma_WebResume - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
