<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Education - Laxma_WebResume</title>
    <link rel="stylesheet" href="styles.css" />
    <style>
        body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.contain {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.section-title {
    font-size: 24px;
    margin-top: 20px;
    color: #3498db;
}

.section-subtitle {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

.education-item {
    margin-top: 20px;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

    </style>
</head>
<body>
    <section class="container education contain">
        <h2 class="section-title">Education</h2>
        <div class="education-item">
            <h3>VNR Vignana Jyothi Institute of Engineering and Technology</h3>
            <p>
                <strong>Bachelor of Information Technology</strong><br>
                June 2016<br>
                Graduated with a GPA of 72.00%
            </p>
            <div class="section-subtitle">PROFESSIONAL SUMMARY</div>
            <p>
                Experienced Data Analyst with a strong background in creating data visualizations using Power BI.
            </p>
            <div class="section-subtitle">Technical Expertise and Skills</div>
            <ul>
                <li>Proficient in Power BI for data visualization.</li>
                <li>Strong skills in data manipulation and management using Microsoft Azure.</li>
                <li>Experienced in Kusto queries for data querying and processing.</li>
                <li>Knowledgeable in creating and managing data pipelines with Azure Data Factory (ADF).</li>
                <li>Solid understanding of .NET development, including C#.Net, ASP.Net, and Windows Applications.</li>
                <li>Familiar with MVC architecture and code management using TFS.</li>
            </ul>
            <div class="section-subtitle">ACHIEVEMENTS</div>
            <ul>
                <li>Participated in the module "Object-Oriented Design using UML" delivered by Prof. Rajib Mall, IIT Kharagpur, through the QEEE program.</li>
                <li>Received merit certificates in various exams and competitions, including KENNEDY, A.S.RAO, APRJC, and YOUNG WORLD QUIZ.</li>
            </ul>
        </div>
    </section>
</body>
</html>
