<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Experience at SIUC</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
     <style>
        body {
    font-family: Arial, sans-serif;
}

.contain {
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #3498db;
}

p {
    margin: 10px 0;
    line-height: 1.4;
}

    </style>
</head>
<body>
    <div class="container contain">
        <div class="experience">
            <h2>Experience at SIUC</h2>
            <div class="experience-details">
                <p>Currently, I am working as a Teaching Assistant at Southern Illinois University Carbondale (SIUC).</p>
                <p>Key Responsibilities:</p>
                <ul>
                    <li>Creating an MVC web application to host various events as part of the software engineering course.</li>
                    <li>Developing machine learning models for different datasets, contributing to data analysis and insights.</li>
                    <li>Teaching Assistant roles for Java, Web Application development, and Data Mining & Big Data Analysis courses.</li>
                </ul>
                <p>My current role at SIUC involves both coursework and assisting students in various computer science disciplines, making my academic journey diverse and enriching.</p>
            </div>
        </div>
    </div>
</body>
</html>
